.app-container {
  min-height: 100%;
  height:auto !important;
  height: 100%;
}

#home-page {
  background-image: url("../assets/img/blog-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* #login-page,
#register-page,
#createPost-page,
#users-page, */
/* #query-page {
  background-color: rgb(234, 230, 255);
} */

#sign-in-btn,
#add-post-btn {
  background-color: #3f93e5;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1%;
  width: 15%;
  margin-left: 2%;
  display: inline-block;
}

#sign-in-btn:hover {
  background-color: #205f9b;
  cursor: pointer;
}

#add-post-btn {
  background-color: #9370DBFF;
  padding: 1%;
  width: 7%;
}

#add-post-btn:hover {
  background-color: #623ea4;
  cursor: pointer;
}

#navbar-control {
  width: 50%;
  text-align: right;
}

.navbar-nav > li{
  padding-left: 5%;
  padding-right: 5%;
}
